
body {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 30px;
/*  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;*/
}
.calculator {
  width: 330px;
  margin: 4% auto;
  height: 420px;
  padding: 25px;
  background-color: #e0fff2;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 7px 4px rgba(0,110,70, 0.5);
}


.numbers div {
  display: inline-block;
  border-radius: 26px;
  border: 2px outset rgba(0,110,70, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 10px 8px 10px 12px;
  margin: 10px 0px 10px 0;
  cursor: pointer;
  color: #FFF;
  background-color: rgba(10,120,80, 0.7);
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.rightPanel {
  float: right;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.operators div {
  display: inline-block;
  border-radius: 26px;
  border: 2px outset rgba(0,100,70, 0.5);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 10px 8px 10px 12px;
  margin: 10px 0px 10px 0;
  cursor: pointer;
  color: #FFF;
  background-color: rgba(10,120,40, 0.7);
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover {
   background-color: rgba(0,120,90, 0.8);   
}

.operators div:hover {
   background-color: rgba(10,120,40, 0.8);   
}

.numbers div:active {
  border: 2px inset rgba(0,110,70, 0.5);
  background-color: rgba(0,120,90, 1);
}

.operators div:active {
  border: 2px inset rgba(0,110,30, 0.5);
  background-color: rgba(10,120,40, 1);
}

div.equal {
  display: inline-block;
  border: 2px outset rgba(10,180,130, 0.7);
  border-radius: 26px;
  width: 103px;
  text-align: center;
  padding: 10px;
  margin: 10px 0 0 0;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  background-color: rgba(10,170,120, 0.7);
  transition: all .2s ease-in-out;
}

div.equal:hover {
   background-color: rgba(10,170,120, 0.8);   
}

div.equal:active {
  border: 2px inset rgba(10,170,120, 0.7);
  background-color: rgba(10,170,120, 0.9);
}

.leftPanel {
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.input {
  border: 2px inset rgba(10,100,150, 0.7);
  background-color: #f9fdff;
  border-radius: 20px;
  width: 310px;
  height: 50px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}


